@charset "utf-8";
/* CSS Document */

#jumbotron{
	height: 100%;
	width: auto;
}
body{
	background-color: white;
}
.highlight-photo{
	background-image: url(../resources/images/website-group.jpg);
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: white;
	align-items: center;
	padding-bottom: 1rem;
	
}
.carousel-bar h3{
	bottom: 10rem;
}
.black-bar{
	background-color: rgb(69, 69, 69);
	color: white;
	text-align: center;
	padding: 1rem;
}
.black-bar p{
	margin: 0px;
}
.location-info{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}
.room-title{
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: 2rem;
	padding-right: 1rem;
}
.room-title .strong{
	font-size: 3rem;
}
.black-bar a, .black-bar .orange-anchor a{
	color: #02b2f4;
}
.tel-info, .email-info{
	font-size: 2rem;
	padding: 2rem;
}


@media (max-width: 760px) {
	.location-info{
		justify-content: center;
	}
	.address-info{
	padding: 2rem;
}
}






.profile-block-content h2{
	color: #ff552c;
	font-size: 4rem;
}

.profile-block-content{
	background-color: rgb(242, 242, 242);
	margin: 5%;
	padding: 4rem; 

}
.gray-block{
	background-color: rgb(242, 242, 242);
}
footer{
	margin-top: 0px;
}

.fluid{
	text-align: center;
	padding: 2% 10%;
}
.fluid h3{
	font-size: 4rem;
}

.meche-dots{
	border-bottom: dotted 1px black;
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.impact-nav{
	.center-block();
}
.impact-nav a{
	color: #404040;
	display: flex;
	flex-direction: column;
}
.impact-nav a:hover{
	color: #ff552c;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	text-decoration: none;
	
}
.strong{
	font-weight: bold;
}
.impact-nav span{
	font-size: 2.5rem;
}
.spotlight{
	text-align: center;
	padding: 2% 10%;
}
.spotlight h1{
	font-size: 4rem;
	padding: 2rem;
}
.spotlight h4{
	font-size: 2rem;
}
.spotlight p{
	font-weight: bold;
}


.person-preview-block-group{
	margin: 3% 0%;
}
.person-label{
	position: relative;
	bottom: 10rem;
	background-color: rgb(242, 242, 242);
	padding: 1rem 0;
	font-size: 2.5rem;
}
.person-preview-block > a{
	text-decoration: none;
	color: black;
	position: relative;
	
}
.person-preview-block a:hover{
	bottom: 1rem;
}

.orange-anchor a{
	color: #404040;
}
.orange-anchor a:hover{
	color: #ff552c;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	text-decoration: none;
	
}
.person-preview-ra-bar h4{
	font-size: 3rem;
}

.person-preview-ra-bar li{
	font-size: 2rem;
}
.link-members a{
	font-size: 3rem;
	text-decoration: none;
	color: #02b2f4;
}
.link-members a:hover{
	color: rgba(0,140,186,1);
}
.link-members{
	padding: 1rem 0 2rem 0;
}
