@charset "utf-8";
/* CSS Document */

.labtour-nav{
	position: absolute;
	bottom: 5%;
	text-align: center;
	
}
footer{
	margin-top: -50px;
}
.labtour-nav .btn{
	margin: 1rem;
}
.round {
	border-radius: 24px;
}
.btn {
    padding: 0 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.labtour-nav h3{
	font-size: 2rem;
}
.navbar-custom {
  background: rgba(0,0,0,0.9);
/*  font-weight: 700;*/
  border: none;
}



@media (min-width: 1025px) {
  #bottomNav .container div ul li a{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
}