@media (max-width: 481px) {	
	.grid-item { width: 90%; margin: 5px 5%; height: auto;}
	.grid-item--width2{	width: 90%; height: auto;}
	.grid-item--height2 { height: 400px; }
	.grid-sizer{ width: 100%; }
	.img-wrap{ height: 200px;}
	.vertical.grid-item--height2 img{
	width: 100%;
	height: auto;
	min-height: none;
	max-width: 100%;
}
	.grid-item--height2 img{    
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
    position: relative;
}
	.footer-logos .inside-footer img{ height: 60px;}
}
